@import "tailwindcss";

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    max-width: 960px;
}

canvas {
    image-rendering: pixelated; /* Ensures the generated pixel art looks sharp */
    max-width: 100%;
    height: auto;
    background-color: #1f2937; /* Dark background for canvas */
}

/* Custom styling for file input for better visual appeal */
input[type="file"]::file-selector-button {
    cursor: pointer;
}
